<%- include('../partials/head.ejs') %>

<main>
  <h1>done!</h1>
  <a href="/<%= id %>">/<%= id %></a>
  <button>copy to clipboard</button>
</main>

<script src="/javascripts/script.js"></script>

<%- include('../partials/toe.ejs') %>