<%- include('../partials/head.ejs') %>

<main>
  <h1><%= appname %></h1>
  <form action="/v1/create">
    <input type="url" name="url" placeholder="URL:">
    <input type="submit" value="create!">
  </form>
</main>

<%- include('../partials/toe.ejs') %>